body {
    font-family: boxicons !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('/static/images/img.jpg');
    background-size: cover;
    background-position: center; 
}
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 258px;
    height: 100%;
    background-color: #fff;
    padding-top: 60px;
    box-sizing: border-box;
    z-index: 999;
    overflow-y: auto;
    transition: 0.5s;
}

.nav_list {
    padding-top: -11px; 
    text-align: left; 
}

.nav_link {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #0f90cf;
    transition: 0.3s;
    text-align: left;
}

.nav_icon {
    margin-right: 10px; 
}

.nav_link:hover {
    background-color: #555;
    color: #fff;
}

.slideshow {
    position: fixed;
    top: 0;
    left: 258px; 
    width: calc(100% - 258px); 
    height: 100vh;
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.slideshow img.active {
    opacity: 1;
}

/* Animation styles */
.welcome-text {
    position: absolute;
    top: 17%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: rgb(17, 12, 12);
    text-align: center;
    opacity: 0;
    transition: opacity 5s ease-in-out;
}


.show-animation {
    opacity: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    max-width: 1080px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2b95c9;
    /* margin-top: -450px; */
    margin-right: -150px;
    border: 2px solid #0f90cf;
}

.device-data-box {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.device-data-box h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #0f90cf;
}

.device-data-box select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #0f90cf;
    border-radius: 5px;
    font-size: 14px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.table-container {
    flex: 2;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#error{
    color:red;
}