body {
    font-family:boxicons!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #ffffffbf;
}
body {
    font-family: boxicons !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('/static/images/img.jpg');
    background-size: cover;
    background-position: center; 
}
.heading {
    text-align: center;
    margin-top: 100px;
    font-size: 38px;
}
.container {
    width: 400px;
    padding: 20px;
    border: 2px solid #0f90cf;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow:  0 0 10px #2b95c9;
    margin-top: 60px; 
}

.user-info-container {
    text-align: center;
    padding: 20px;
}

.user-info-container div {
    margin-bottom: 10px;
}

.user-info-container strong {
    font-weight: bold;
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 258px;
    height: 100%;
    background-color: #fff;
    padding-top: 60px; 
    box-sizing: border-box;
    z-index: 999;
    overflow-y: auto;
    transition: 0.5s;
}

.nav_list {
    padding-top: -11px; 
    text-align: left; 
}

.nav_link {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #0f90cf;
    transition: 0.3s;
    text-align: left;
}

.nav_icon {
    margin-right: 10px; 
}

.nav_link:hover {
    background-color: #555;
    color: #fff;
}