     /* Drawer styles */
     .drawer {
        position: fixed;
        top: 0;
        left: 0;
        width: 258px;
        height: 100%;
        background-color: #181717;
        padding-top: 60px; 
        box-sizing: border-box;
        z-index: 999;
        overflow-y: auto;
        transition: 0.5s;
    }

    .nav_list {
        padding-top: -11px;
        text-align: left; 
    }

    .nav_link {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 22px;
        color: #818181;
        transition: 0.3s;
        text-align: left; 
    }

    .nav_icon {
        margin-right: 10px;
    }

    .nav_link:hover {
        background-color: #555;
        color: #fff;
    }

    /* Table container styles */
    #table-container {
        width: calc(100% - 258px); 
        margin-left: 258px; 
    }

table {
max-width: 100%; 
width: auto; 
border-collapse: collapse;
padding: 10px;
margin-top: 20px;
}

    th,td {
        border: 1px solid #1e94d8;
        text-align: left;
        padding: 8px;
        font-size: 20px;
        background-color: aliceblue;
    }

    th {
        background-color: #1f93d6;
        color: #fff;
    }

    h1 {
        margin-top: -55px;
        text-align: center;
    }
    body {
        background-image: url("/static/sea-freight.jpg"); 
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        font-family:boxicons!important; 
        margin: 0; 
        padding: 100px; 
    }
/* Add this to your my_shipment.css file */
#search {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px; /* Adjust padding as needed */
    width: 15%; /* Adjust width as needed */
    box-sizing: border-box;
    font-size: 17px; /* Adjust font size as needed */
    margin-left: 800px;
    margin-right: auto;
    display: block;
}
