<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/Dashboard.css">
<body id="body-pd">
    <div class="drawer" id="myDrawer">
        <div class="company-logo" style="margin-top:0px">
            <img src="/static/images/exf_logo.png" alt="Company Logo" style="width: 230px;">
        </div>
        <div class="nav_list">
            <a href="/Dashboard" class="nav_link">
                <i class='bx bx-grid-alt nav_icon'></i>
                <span class="nav_name">Dashboard</span>
            </a>
            <a href="/my_account" class="nav_link">
                <i class='bx bx-user nav_icon'></i>
                <span class="nav_name">My Account</span>
            </a> 
            <a href="/my_shipment" class="nav_link">
                <i class='bx bxs-book-content'></i>
                <span class="nav_name">My Shipment</span>
            </a>
            <a href="/New_shipment" class="nav_link">
                <i class='bx bxs-truck'></i>
                <span class="nav_name">New Shipment</span>
            </a>
            <a style="display: none;" id="device" href="/device_data" class="nav_link deviceData">
                <i class='bx bx-hdd'></i>
                <span class="nav_name">Device Data</span>
                
            </a>
        </div>
        <a href="/" class="nav_link logout" onclick="logout()">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Sign Out</span>
        </a>
    </div>
    <div class="slideshow">
        <img src="/static/images/img2.jpg" alt="Slide 1" class="active">
        <img src="/static/images/supply-chain-representation-still-life.jpg" alt="Slide 2">
        <img src="/static/images/scm img11.jpg" alt="Slide 3">
    </div>
    <!-- Welcome text animation -->
    <div class="welcome-text" id="welcomeText" style="letter-spacing: 3px; color: #fff;text-shadow: 1px 1px 2px #0f90cf, 0 0 25px #00a1ff, 0 0 5px #00abffe3;">
        Welcome to SEMXpertLite
    </div>
    <script src="/static/js/Dashboard.js"></script>
</body>
</html>
