<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/device_data.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <title>Device Data</title>
    <style>
        .table-container {
            overflow-y: auto;
            max-height: 350px;
        }
    </style>
</head>
<body>
<div class="drawer" id="myDrawer">
    <div class="company-logo" style="margin-top:0px">
        <img src="/static/images/exf_logo.png" alt="Company Logo" style="width: 230px;">
    </div>
    <div class="nav_list">
        <a href="/Dashboard" class="nav_link">
            <i class='bx bx-grid-alt nav_icon'></i>
            <span class="nav_name">Dashboard</span>
        </a>
        <a href="/my_account" class="nav_link">
            <i class='bx bx-user nav_icon'></i>
            <span class="nav_name">My Account</span>
        </a>
        <a href="/my_shipment" class="nav_link">
            <i class='bx bxs-book-content nav_icon'></i>
            <span class="nav_name">My Shipment</span>
        </a>
        <a href="/New_shipment" class="nav_link">
            <i class='bx bxs-truck nav_icon'></i>
            <span class="nav_name">New Shipment</span>
        </a>
        <a  style="display: none;" id="device" href="/device_data" class="nav_link">
            <i class='bx bx-hdd nav_icon'></i>
            <span id="device" class="nav_name">Device Data</span>
        </a>
        <a href="/" class="nav_link logout" onclick="logout()">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Sign Out</span>
        </a>
    </div>
</div>
<h1 style="letter-spacing: 3px; color: #fff;text-shadow: 1px 1px 2px #0f90cf, 0 0 25px #00a1ff, 0 0 5px #00abffe3;; margin-top: -450px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br><br><br>Device Data</h1>
<div class="container">
    <div class="device-data-box">
        <span id="error"> </span>
        <h2>DEVICE IDs</h2>
        <div class="device-data-stream">
            <select id="device_id" required>
                <option value="1156053070">1156053070</option>
                <option value="1156053071">1156053071</option>
                <option value="1156053072">1156053072</option>
                <option value="1156053073">1156053073</option>
                <option value="1156053074">1156053074</option>
                <option value="1156053075">1156053075</option>
                <option value="1156053076">1156053076</option>
                <option value="1156053077">1156053077</option>
                <option value="1156053078">1156053078</option>
                <option value="1156053079">1156053079</option>
                <option value="1156053080">1156053080</option>
            </select>
        </div>
        <button id="submit" class="submit-btn">Submit</button>
    </div>
    <div class="table-container">
        <table id="device_data_table" style="text-align: center; border: 2px solid #0f90cf; padding: 0.5rem; box-sizing: border-box;">
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Battery level</th>
                    <th>First Sensor Temperature</th>
                    <th>Route From</th>
                    <th>Route To</th>
                </tr>
            </thead>
            <tbody id="device_data">
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/device_data.js"></script>
</body>
</html>
